@import 'utils/mixin';
@import 'utils/variables';
 
.courses{
    // position: relative;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #F9F9F9;
    .pre {
        z-index: 10;
    }
    .search_bar {
        position: relative;
        background-color: #14BAC5;;
        padding-top: 33px;
        padding-bottom: 34px;
        // background-image: url(/Users/kuo/github/course_project/src/assets/img/flowers.png);
        .flowers {
            position: absolute;
            // height: 111px;
            margin: 0 auto;
            z-index: 1;
            top: 0;
            .flower1 {
                position: absolute;
                left: -2px;
                top: 0px;
            }
            .flower2 {
                position: absolute;
                right: 0px;
                top: 37px;
            }
        }
        .search {
            z-index: 2;
            margin-left: 14px;
            width: 487px;
            height: 40px;
            left: 141px;
            top: 354px;
            border-radius: 50px;
            border: none;
            padding-left: 47px;
            @media (max-width:800px){
                margin-bottom: 15px;
            }
            @media (max-width: 600px){
                width: 87.5%;
            }
        }
    }
    .course-list{
        position: relative;
        padding-left: 6%;
        padding-right: 6%;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 94px;
        background-color: #fff;
        @media (max-width:800px){
            // position: absolute;
            // top: 250px;
            margin-top: -20px;
            border: 2px solid #fff;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #C0C0C0;

        }
        .card{
            position: relative;
            margin: 0 auto;
            max-width: 768px;
            margin-bottom: 6px;
            border-radius: 10px;
            background-color: #FFFFFF;
            box-shadow: 2px 2px 5px 2px rgba(156, 156, 156, 0.15);
        }
        .card-body {
            padding: 31px 0px 28px 34px;
            display: flex;
            flex-direction: column;
            width: 50%;
            @media (max-width: 600px){
                width: 50%;
                padding: 16px 0px 16px 19px;
            }
            ul {
                list-style: none;
            }
            .see-more {
                position: absolute;
                top: 45px;
                bottom: 49px;
                right: 42px;
                @media (max-width: 600px){
                    top: 40%;
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                @media (max-width:600px){
                    flex-flow: column;
                    align-items: start;
                    margin-bottom: 0;
                }
            }
            .card-title {
                font-family: Noto Sans TC;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: -0.408px;
                color: #000000;
                margin-right: 13px;
                margin-bottom: 0;
                text-align: left;
                max-width: 145px;
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .card-text {
                margin: 0;
                .text-muted {
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: -0.408px;
                    color: rgba(110, 110, 110, 0.8);
                    margin-top: 15px;
                    margin-bottom: 0;
                }
            }
            .value {
                display: flex;
                .star_value {
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    letter-spacing: -0.408px;
                    color: #FAC12D;
                    margin-bottom: 0;
                    margin-right: 5px;
                }
                .no_value {
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: -0.408px;
                    color: #ACACAC;
                    margin-top: 8px;
                }
                .ratings {
                    // margin-top: 0;
                    position: relative;
                    vertical-align: middle;
                    display: inline-block;
                    color: #ddd; /*背景星星顏色*/
                    overflow: hidden;
                    font-size: 11px; /*調整字體大小可放大縮小星星*/
                    // text-shadow: 0px 1px 0 #999;
                    .full_star {
                    // width: 90%; /*調整寬度可變更星等*/
                    position: absolute;
                    left: 0;
                    top: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #FAC12D; /*前景星星顏色*/
                    }
                }
            }
        }
        .new_course {
            position: fixed;
            right: 28%;
            bottom: 53px;
            width: 118px;
            height: 41px;
            background: linear-gradient(90deg, #27C6D0 -2.43%, #6F7BDF 100%);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width:800px){
                right: 53px;
            }
            img {
                margin-right: 7px;
            }
            p {
                font-family: Noto Sans TC;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 15px;
                letter-spacing: -0.408px;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }
    }
    footer {
        position: relative;
        bottom: 0;
        p {
            font-family: Noto Sans TC;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 10px;
            letter-spacing: -0.408px;
            color: #6E6E6E;
        }
        .footer_bar {
            margin-top: 16px;
            height: 5px;
            width: 100%;
            background-color: #14BAC5;;
        }
    }
 }